<div class="all">
    <h2>{{countryName}}</h2>
    <div class="summary">
        <div class="entries">
            <h2>Number of entries</h2>
            <p>{{dataCountry.length}}</p>
        </div>
        <div class="entries">
            <h2>Total number of medals</h2>
            <p>{{totalMedals}}</p>
        </div>
        <div class="entries">
            <h2>Total number of athletes</h2>
            <p>{{totalAthlete}}</p>
        </div>
    </div>
    <div class="chartContainer">
        <div class="charts">
            <app-chart-details [series]="series" [axis]="axis" class="chart"></app-chart-details>
        </div>
    </div>
</div>
