.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.back{
  margin-top: 2rem;
  height: 2rem;
  width: 10rem;
  color: black;
  background: rgba(180, 180, 180, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.205);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(180, 180, 180, 0.31);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none;
  color: black;
}

.back:hover{
  background: rgba(255, 255, 255, 0.603);
}

#bg-wrap{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#bg-wrap svg {
  width: 100vw;  /* ✅ Assure que le SVG prend toute la largeur */
  height: 100vh; /* ✅ Assure qu'il prend toute la hauteur */
  position: absolute;
  top: 0;
  left: 0;
}
