<div class="all">
    <div class="title">
        <h2>Medals per country</h2>
        <img src="../../../assets/icons/olympic-games-svgrepo-com.svg" alt="JOs Logo" class="logo">
    </div>
    <div class="allData">
        <div class="dataJO">
            <h3>Number of JOs</h3>
            <p>{{nbJo}}</p>
        </div>
        <div class="dataJO">
            <h3>Number of countries</h3>
            <p>{{olympicsData.length}}</p>
        </div>
    </div>
    <div class="chartContainer">
        <div class="charts">
            <app-charts [series]="series" [labels]="labels" class="chart"></app-charts>
        </div>
    </div>
</div>
