.charts{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    background: rgba(180, 180, 180, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.205);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(180, 180, 180, 0.31);
}

.dataJO{
    background: rgba(180, 180, 180, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.205);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(180, 180, 180, 0.31);
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    height: 70px;
}

.allData{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.appName{
    padding: 20px;
}

.chartCountainer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all{
    background-image: url('../../../assets/bg/JO.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}